@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&family=Philosopher&display=swap');
@font-face {
    font-family: domaine;
    src: url(/src/assets/font/Domaine\ Sans\ Fine\ Regular\ Regular.woff);
}

.cover-head-vid{
    font-family: 'Albert Sans', sans-serif;
    font-size: 10em;
    color: whitesmoke;
}

.vr{
    background-color:rgb(248, 236, 219)
}